<!DOCTYPE html>

<html>

<head>
  <%- include('./head') %>
    <%- include('./graph_head') %>
      <link rel="stylesheet" href="network_right.css" />
      <link rel="stylesheet" href="button.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <section class="home-section">
      <input type="checkbox" style="display: none;" id="stabilizeCheckbox" checked />
      <div class="text">그래프</div>
      <div>
        <span>
          <div class="card" style="width: 100%">
            <div id="mynetwork" class="card-body"></div>
          </div>
        </span>
        <div class="clu"><span>Selected Cluster Id : </span><span id="clusterId"></span></div>
        <div class="marg"><span>Selected Node Id : </span><span id="nodeId"></span></div>
        <div class="scrollable-div" id="cluster-api-list"></div>
        <div class="scrollable-div2" id="c2c-length-list"></div>
      </div>

      <!--<div class="idv">
        <div class="scrollable-span" id="first-res"></div>
        <div class="scrollable-span" id="second-res"></div>
        <div class="tmp">
          <div class="scrollable-span2" id="third-res"></div>
          <br>
          <span style="margin-left: 28px;">API 일치도 : </span><span id="corr"></span>
        </div>
      </div>-->

      <form method="post" action="/printGraph/<%= whoAre %>" class="idv">
        <label style="margin-left: 20px;">클러스터링 임계값 입력 : </label> <input type="number" step="0.01" value='0.5'
          name="threshold" style="text-align: center;"/><span style="margin-left: 100px;"></span>
          <label style="margin-left: 20px;">edge 출력 제한값 입력 :</label> <input type="number" step="0.01" value='0.5'
          name="edge_print_threshold" style="text-align: center;"/><br>
        <button type="submit" style="margin-left: 20px" id="helvoa">Regenerate Graph</button>
      </form>

      <button id="modalOpenButton">노드 간 관계 확인하기</button>
      <button class="custom-btn5" type="button" onclick="movepage()">메인 페이지로 이동</button>

      <div id="modalContainer" class="hidden">
        <div id="modalContent">
          
          <div>
            <span>노드 1 : <input type="text" id="finput" style="text-align: center;"></span>
            <span>노드 2 : <input type="text" id="sinput" style="text-align: center;"></span>
            <button id="clic">검색</button>
            <i class="material-icons" id="modalCloseButton">close</i>
          </div>
          <br>
          <div class="idv2">
            <div class="scrollable-span" id="first-res"></div>
            <div class="scrollable-span" id="second-res"></div>
            <div class="tmp">
              <div class="scrollable-span2" id="third-res"></div>
              <br>
              <span>API 일치도 : </span><span id="corr"></span>
            </div>
          </div>
        </div>
      </div>

      <p id="close" style="display: none;"><%= whoAre2 %></p>
      <p id="ham" style="display: none;"><%= thisname %></p>
    </section>
    <%- include('./script') %>
    <script>
      function movepage() {
        location.href = "/"
      }
    </script>
      <script src="printGraphScript.js"></script>
      <script src="modal_part.js"></script>
</body>

</html>