<!DOCTYPE html>

<html>

<head>
  <%- include('./head') %>
  <%- include('./graph_head') %>
</head>

<body>
  <%- include('./sidebar') %>
    <section class="home-section">
      <input type="checkbox" style="display: none;" id="stabilizeCheckbox" checked/>
      <div class="text">Graph</div>
      <div style="display: inline;">
        <div class="card" style="width: 100%">
          <div id="mynetwork" class="card-body"></div>
        </div>
        <div id="mot" style="margin: 5px;">
          <h2 id="eventSpanHeading" style="color:rgba(97, 64, 81, .9);"> </h2>
          <h5 id="eventTitle" style="margin: 5px;color:rgba(97, 64, 81, .9);"> </h5>
          <p id="apiList" style="font-size:20px;margin: 5px;color:rgba(97, 64, 81, .9);"> </p>
        </div>
        <div id="mot2" style="margin-left: 5px;">
          <h2 id="eventSpanHeading2" style="color:rgba(97, 64, 81, .9);""> </h2>
          <h5 id="eventTitle2" style="margin: 5px;color:rgba(97, 64, 81, .9);"> </h5>
          <p id="apiList2" style="font-size:20px;margin: 5px;color:rgba(97, 64, 81, .9);"> </p>
        </div>
        <div id="mot3" style="margin: 5px;">
          <h2 id="eventSpanHeading3" style="color:rgba(97, 64, 81, .9);"> </h2>
          <p id="apiList3" style="font-size:20px;margin: 5px;color:rgba(97, 64, 81, .9);"> </p>
        </div>
        <div id="vvv"></div>
        <form method="post" action="/printGraph/<%= whoAre %>">
          <div>
            <p>edge 임계값 입력 <input type="number" step="0.01" value='0.5' name="e2_threshold"/> </p>
          </div>
          <div>
            <p>임계값 입력 <input type="number" step="0.01" value='0.5' name="t2_threshold"/> </p>
          </div>
          <button class="custom-btn3 btn-1" type="submit">Regenerate Graph</button>
        </form>
      </div>
      <p id="close" style="display: none;"><%= whoAre2 %></p>
    </section>
    <%- include('./script') %>
    <script src="printGraphScript.js"></script>

</body>

</html>