<!DOCTYPE html>

<html>

<head>
  <%- include('./head') %>
    <%- include('./graph_head') %>
      <link rel="stylesheet" href="network_right.css" />
      <link rel="stylesheet" href="button.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <section class="home-section">
      <input type="checkbox" style="display: none;" id="stabilizeCheckbox" checked />
      <div class="text">그래프</div>
      <div>
        <span>
          <div class="card" style="width: 100%">
            <div id="mynetwork" class="card-body"></div>
          </div>
        </span>
        <div class="clu"><span>선택된 클러스터 ID : </span><span id="clusterId"></span></div>
        <div class="marg"><span>선택된 노드 ID : </span><span id="nodeId"></span></div>
        <div class="scrollable-div" id="cluster-api-list"></div>
        <div class="scrollable-div2" id="c2c-length-list"></div>
      </div>
      <div class="idv">
      <div class="hodi">
        <div class="span">
          <div class="div" id="firstNode"></div>
          <div class="columns" id="first-res"></div>
        </div>
      
        <div class="span">
          <div class="div" id="secondNode"></div>
          <div class="columns" id="second-res"></div>
        </div>
      
        <div class="span">
          <div class="div">겹치는 API</div>
          <div class="columns" id="third-res"></div>
        </div>
      </div>
      <div class="div" id="corr"></div>
      </div>
      <div class="hodi" style="border: solid;margin: 15px;">
        <form method="post" action="/printGraph/<%= whoAre %>" class="idv4" id="form1">
          <label style="margin-left: 20px;">클러스터링 임계값 입력 : </label> <input type="number" step="0.01" min="0" max="1" value='<%= a %>'
            name="threshold" style="text-align: center;center;width: 150px;"/><span style="margin-left: 50px;"></span>
          <button type="submit" style="margin-left: 20px" id="helvoa">그래프 재생성</button>
        </form>

        <div class="idv3">
          <label style="margin-left: 20px;">edge 출력 제한값 입력 :</label> <input type="number" step="0.01" min="0" max="1" value='<%= b %>'
          name="edge_print_threshold" style="text-align: center;width: 150px;" id="revalue" form="form1"/>
          <button id="network" class="custom-btn5" onclick="redraw()">클러스터간 엣지 재연결</button>
        </div>
      </div>
      <button class="custom-btn5" type="button" onclick="movepage()" style="margin-bottom: 20px;">메인 페이지로 이동</button>

      <p id="close" style="display: none;"><%= whoAre2 %></p>
      <p id="ham" style="display: none;"><%= thisname %></p>
    </section>
    <%- include('./script') %>
    <script>
      function movepage() {
        location.href = "/"
      }

      function redraw(){
        let edgeLen = edges.length;
        let tmpEdgeValue = edgeValue;
        for(let i = tmpEdgeValue;i<edgeLen;i++){
          edges.remove(i);
        }

        console.log(edges);

        let val = document.getElementById('revalue').value;

        for(let i = 0;i<c2clen.length;i++){
          for(let j = i + 1;j<c2clen.length;j++){
            if(c2clen[i][j] < val){
              edges.add({ id: tmpEdgeValue, from: clusterIds[i][0], to: clusterIds[j][0], label:c2clen[i][j].toString() });
              tmpEdgeValue++;
            }
          }
        }


        data = {nodes: nodes, edges: edges};
        network.setData(data);
      }
    </script>
      <script src="printGraphScript.js"></script>
      <script src="modal_part.js"></script>
</body>

</html>